
<%= render partial:"forecast/form", locals: { current_location: @current_location } %>

<div class="container mx-auto">

  <%= render partial: "forecast/results", locals: { forecast: @forecast[:forecast], timestamp: @forecast[:timestamp] } %>

</div>

