---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=<WEATHERAPI_COM_API_KEY>&q=53.5461,-113.4937
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - CA
      X-Weatherapi-Qpm-Left:
      - '4999744'
      Cdn-Proxyver:
      - '1.06'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/10/2025 05:23:01
      Cdn-Edgestorageid:
      - '987'
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '1'
      Cdn-Requestid:
      - 6c7d14d8a311793a82ae1d3bb9bb5909
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Edmonton","region":"Alberta","country":"Canada","lat":53.55,"lon":-113.5,"tz_id":"America/Edmonton","localtime_epoch":1736483967,"localtime":"2025-01-09
        21:39"},"current":{"last_updated_epoch":1736483400,"last_updated":"2025-01-09
        21:30","temp_c":-0.4,"temp_f":31.3,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.1,"wind_kph":16.2,"wind_degree":170,"wind_dir":"S","pressure_mb":1023.0,"pressure_in":30.19,"precip_mm":0.0,"precip_in":0.0,"humidity":65,"cloud":0,"feelslike_c":-5.1,"feelslike_f":22.8,"windchill_c":-8.4,"windchill_f":16.9,"heatindex_c":-3.1,"heatindex_f":26.5,"dewpoint_c":-6.1,"dewpoint_f":21.0,"vis_km":10.0,"vis_miles":6.0,"uv":0.0,"gust_mph":21.1,"gust_kph":34.0},"forecast":{"forecastday":[{"date":"2025-01-09","date_epoch":1736380800,"day":{"maxtemp_c":-0.9,"maxtemp_f":30.4,"mintemp_c":-8.4,"mintemp_f":16.9,"avgtemp_c":-4.7,"avgtemp_f":23.5,"maxwind_mph":11.0,"maxwind_kph":17.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":83,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":0.1},"astro":{"sunrise":"08:47
        AM","sunset":"04:36 PM","moonrise":"12:26 PM","moonset":"04:43 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":72,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1736406000,"time":"2025-01-09
        00:00","temp_c":-2.9,"temp_f":26.7,"is_day":0,"condition":{"text":"Overcast
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":6.7,"wind_kph":10.8,"wind_degree":261,"wind_dir":"W","pressure_mb":1030.0,"pressure_in":30.4,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":97,"cloud":93,"feelslike_c":-8.5,"feelslike_f":16.7,"windchill_c":-8.5,"windchill_f":16.7,"heatindex_c":-2.9,"heatindex_f":26.7,"dewpoint_c":-3.6,"dewpoint_f":25.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":14.1,"gust_kph":22.7,"uv":0},{"time_epoch":1736409600,"time":"2025-01-09
        01:00","temp_c":-2.7,"temp_f":27.2,"is_day":0,"condition":{"text":"Overcast
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":6.3,"wind_kph":10.1,"wind_degree":247,"wind_dir":"WSW","pressure_mb":1030.0,"pressure_in":30.41,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":98,"cloud":100,"feelslike_c":-8.3,"feelslike_f":17.0,"w[...]
